@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header.text-black .logo,
header.text-black ul li.nav-link {
  color: black;
}

header.text-black .logo:hover,
header.text-black ul li.nav-link:hover {
  @apply text-blue-600;
}

header.text-black.terms button:hover {
  @apply text-blue-600;
}

.send-btn {
  border: none;
  overflow: hidden;
}

.send-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  @apply bg-white bg-opacity-30;
  transition: all 1s;
}

.send-btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  @apply bg-white bg-opacity-30;
  transition: all 1s;
}

.send-btn:hover:before {
  left: 0;
}

.send-btn:hover:after {
  right: 0;
}

.send-span:before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  @apply bg-white bg-opacity-30;
  transition: all 1s;
}

.send-btn:hover .send-span:before {
  top: 0;
}

.send-span:after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  @apply bg-white bg-opacity-30;
  transition: all 1s;
}

.send-btn:hover .send-span:after {
  bottom: 0;
}

.showUp_animate {
  scale: 0;
  opacity: 0;
  animation: showUp 1s ease forwards;
  animation-delay: 500ms;
}

.showUp_animate2 {
  scale: 0;
  opacity: 1;
  animation: showUp2 1s ease forwards;
  animation-delay: -400ms;
}



@keyframes showUp {
  from {
    scale: 0;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes showUp2 {
  from {
    scale: 0;
    opacity: 1;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}


.zoomIn {
  transform: scale(1.1);
}